<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MotionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FB9962B1EFB98A000D32220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FB996441EFB98A100D32220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FB9964F1EFB98A100D32220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
